#footer{
    background-color: rgb(44, 44, 82);
    color: rgb(214, 214, 214);
    
    
}
.contact{
    display: block;
    /* align-items: center; */
    text-align: center;
}

.contact h2{
    text-transform: capitalize;
    margin-bottom: 20px;
}

.email img{
    margin-bottom: -15px;
    padding: 10px;
    height: 20px;
}
.email p{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}


.icon{
    
    /* width: 400px; */
    max-width: 100vw;
    padding: 20px ;
    text-align: center;

}
.icon img{
    height: 40px;
    /* align-self: center; */
}